@{
<<<<<<< HEAD
    ViewData["Title"] = "seda";
=======
    ViewData["Title"] = "Seda";
>>>>>>> 821eeaed2b27c039f7ef70275d87499786cb9ed5
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
